html {
                font-size : 22px

            }

            body {
                background-color : #F1E6D2;
                color: black;
            }

a {
    color :darkblue;

}

a:visited{
    color : darkblue;
}

a:hover, a:active{
    color:darkblue;
}

table, tr, th, td, caption{
    border: 1px solid black;
    font-family: "Courier New", Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}